html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #1B1E21;
}

#answers {
    background-image: url(../images/pattern3.png);
    background-position: center;
    border-color: #b51f24 !important;
}

/* Theater Style */
.curtain-top {
    position: relative; 
    z-index: 1; 
    background-image:url(../images/curtain-top-alt.png); 
    height: 62px; 
}

.curtain-side {
    position: relative;
    top: -5px;
    background-image:url(../images/curtain-side.png);
}

.backstage {
    position: relative;
    top: -5px;
    background-color: #131517 !important;
}

.theater-screen {
    min-height: 300px;
    background-color: white;
}

.loader-img {
    width: 100%;
    object-fit: cover;
}
.button1 {
    background-color: rgb(78, 71, 139); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    font-size: 30px;
}
*[id ^= 'SelectThis']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px ; 
}

*[id ^= 'MyText']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 15px;
    margin: 5px ; 
}