html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url(../images/bg-reel-1-blk.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

div.content {
    background-color: #1B1E21 !important;
}

.navbar {
    background-color: #131517 !important;    
}

#controls {
    background-color: #131517 !important;
    font-size: .75em;
    float: left;
}

/* Answer Section Styles */

#answers {
    background-image: url(../images/pattern3.png);
    background-position: center;
    border-color: #b51f24 !important;
}

.flex-grid-2x2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex-grid-2x2 > button {
    display: flex;
    flex-basis: calc(50% - 20px);
    min-height: 50px;
    white-space: normal;
    justify-content: center;
}

/* Theater Style */
.curtain-top {
    position: relative; 
    z-index: 1; 
    background-image:url(../images/curtain-top-alt.png); 
    height: 62px; 
}

.curtain-side {
    position: relative;
    top: -5px;
    background-image:url(../images/curtain-side.png);
}

.backstage {
    position: relative;
    top: -5px;
    background-color: #131517 !important;
}

.theater-screen {
    min-height: 300px;
    background-color: white !important;
    font-size: 1.4em;
}

.loader-img {
    width: 100%;
    object-fit: cover;
}

/* Modal Dialog */
.modal-dialog video {
    width: 100%;
}
/* ScoreCard */
#scoreCard {
    background-color:  #b51f24 !important;
    border-radius: 0 0 .35em .35em;
    color: #fff;
    padding: 10px;
    float: right;
}

#scoreCard table {
    font-size: .85em;
    width: 100%;
}

#scoreCard th, td {
    text-align: right;
}

#scoreCard td {
    padding-left: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) { 
   
    .flex-grid-2x2 > button {
        display: flex;
        flex-basis: 100%;
        min-height: 50px;
        white-space: normal;
        justify-content: center;
    }
    
}
*[id ^= '1Dice'] {
    background-color: rgb(78, 71, 139); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    font-size: 30px;
}
*[id ^= 'SelectThis']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px ;
}

*[id ^= 'MyPlot']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 15px;
    margin: 5px ;
}
*[id ^= 'MyCounters']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px ;
}
*[id ^= 'RadioButton']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px ;
}
*[id ^= 'MyRb']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px ;
}

button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}