html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px; /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #dee2e6;
    font-size: .85em;
}

/* Theater Style */
.curtain-top {
    position: relative; 
    z-index: 1; 
    background-image:url(../images/curtain-top-alt.png); 
    height: 62px; 
}

.curtain-side {
    position: relative;
    top: -5px;
    background-image:url(../images/curtain-side.png);
}

.backstage {
    position: relative;
    top: -5px;
}

.theater-screen {
    min-height: 300px;
    background-color: white;
}

.theater-screen img {
    width: 100%;
    object-fit: cover;
}