html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #1B1E21;
}

#answers {
    background-image: url(../images/pattern3.png);
    background-position: center;
    border-color: #b51f24 !important;
}

/* Theater Style */
.curtain-top {
    position: relative; 
    z-index: 1; 
    background-image:url(../images/curtain-top-alt.png); 
    height: 62px; 
}

.curtain-side {
    position: relative;
    top: -5px;
    background-image:url(../images/curtain-side.png);
}

.backstage {
    position: relative;
    top: -5px;
    background-color: #131517 !important;
}

.theater-screen {
    min-height: 300px;
    background-color: white;
}

.loader-img {
    width: 100%;
    object-fit: cover;
}

/* Modal Dialog */
.modal-dialog video {
    width: 100%;
}