html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #1B1E21;
}

#answers {
    background-image: url(../images/pattern3.png);
    background-position: center;
    border-color: #b51f24 !important;
}

/* Theater Style */
.curtain-top {
    position: relative; 
    z-index: 1; 
    background-image:url(../images/curtain-top-alt.png); 
    height: 62px; 
}

.curtain-side {
    position: relative;
    top: -5px;
    background-image:url(../images/curtain-side.png);
}

.backstage {
    position: relative;
    top: -5px;
    background-color: #131517 !important;
}

.theater-screen {
    min-height: 300px;
    background-color: white;
}

.loader-img {
    width: 100%;
    object-fit: cover;
}

/* Modal Dialog */
.modal-dialog video {
    width: 100%;
}

*[id ^= 'Dice'] {
    background-color: rgb(78, 71, 139); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
    font-size: 30px;
}
*[id ^= 'SelectThis']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px ;
}

*[id ^= 'MyPlot']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 15px;
    margin: 5px ;
}
*[id ^= 'MyCounters']{
    background-color: gray; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    margin: 5px ;
}



button:disabled,
button[disabled]{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}